
.experience {
  display: flex;
  padding: 120px 60px;
  justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f2f5f7;
  scroll-margin-top: 80px;

  .title {
    color: #7B88A8;
    letter-spacing: 1px;
  }
  .jobs {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    color: #191D26;
    font-weight: 100;

    .job {
      font-size: 24px;
      margin-bottom: 0;
      &:first-child {
        margin-top: 16px;
      }
    }

    .company {
      font-size: 16px;
    }

    .description {
      font-size: 15px;
    }
  }
}
