
.container {
  background-color: #474679;
  padding: 120px 240px 60px 60px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  .quote {
    font-size: 32px;
  }

  .author {
    font-size: 18px
  }
}